
body{
    box-sizing: border-box;
    /* background-image: url("../images/Background.jpg"); */
    background-image: url("../images/background-pattern.png");
    background-repeat: repeat;
    font-family: arial;
    font-size: 14px;
}
.wrapper{
    margin: 0 auto;
    width: 960px;
    background: #ecf0f1;
}
header{
    display: block;
}
.top-bar{
    background: #2c3e50;
    color: #bdc3c7;
    height: 30px;
    font-size: 12px;
}
.right-top-bar, .left-top-bar{
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.left-top-bar a, .right-top-bar a{
    color: #ddd;
    text-decoration: none;
    padding: 0px 5px;
}
.left-top-bar a:hover, .right-top-bar a:hover{
    color: #ecf0f1;
}
.main-header{
    background: #ffffff;
    height: 100px;
}
.logo img{
    height: 100px;
    padding-left: 30px;
}
.site-title{
    padding-top: 25px;
    padding-left: 30px;
}
.site-title h1{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

nav{
    background-color: #3498db;
    height: 45px;
}
nav ul{
    display: block;
}
nav ul li{
    /* display: inline; */
    float: left;
    height: 45px;
    /* border-right: 1px solid #45aaf2; */
    list-style: none;
}

nav ul li a{
    font-size: 15px;
    text-transform: uppercase;
    line-height: 45px;
    padding: 14px 20px;
    text-decoration: none;
    color: #ecf0f1;
    border-right: 1px solid #45aaf2;
    transition: 500ms;
}
nav ul li:last-child a{
    border-right: none;
}
nav ul li a:hover{
    background: #1B9CFC;
    color: #34495e;
}
.slider{
    background-color: #ecf0f1;
    height: 290px;
}

.contact{
    height: 100%;
    width: 100%;
    background-color: #ecf0f1;
    margin-top: 20px;
}
.maincontent{
    height: 100%;
    width: 65%;
    padding: 0 20px;
    margin-top: 30px;
}
.post{
    margin-bottom: 30px;
}
.post h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.article{

}
.post p{
    text-align: justify;
    line-height: 18px;
    float: left;
    width: 65%;
}
.post img{
    width: 200px;
    height: 120px;
    margin: 5px;
    border-radius: 5px;
    float: right;
}
.post a{
    float: right;
    text-decoration-style: dotted;
    color: #16a085;
}
.post a:hover{
    color: #1abc9c;
}
.sidebar{
    height: 100%;
    width: 26%;
    padding: 0 20px;
    margin-top: 30px;
}
.cat h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #2c3e50;
    line-height: 30px;
    padding: 5px 10px;
    color: #ecf0f1;
}
.cat ul{
    margin-bottom: 30px;
    margin-left: 20px;
}
.cat ul li{
    list-style: circle;
    margin-bottom: 10px;
}
.cat a{
    text-decoration:none;
    color: #34495e;
}
.cat a:hover{
    text-decoration: underline;
    color: #7f8c8d;
}
.main-footer{
    height: 160px;
    background-color: #34495e;
}
.footer-bottom{
    height: 30px;
    background: #2c3e50;
    text-align: center;
}
.copyright{
    font-size: 12px;
    line-height: 32px;
    color: #ecf0f1;
    text-align: center;
}
.footer-menu{
    padding: 20px;
}
.footer-menu a{
    font-size: 14px;
    color: #ecf0f1;
    text-decoration: none;
}
.footer-menu a:hover{
    text-decoration: underline;
    color: #bdc3c7;
    padding-left: 2px;
}

.footer-menu li{
    padding-bottom: 10px;
}
.footer-menu-left{
    width: 170px;
}
.footer-menu-right{
    padding-left: 60px;
}
.social{
    padding: 40px;
}
.social h3{
    color:#ecf0f1;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 5px;
}
.social a{
    text-decoration: none;
    padding: 20px 20px 20px 10px;
    color: #ecf0f1;

}
.fa{
    transition: 500ms;
}
.fa:hover{
    transform: scale(1.2);
}
.fa-facebook:hover{
    color: #4267B2;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-linkedin:hover{
    color: #0077B5;
}
.fa-google-plus:hover{
    color: #DD5044;
}


/* Default */
.clear{clear: both;}
.right{float: right;}
.left{float: left;}

/* slides */
.rslides{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;margin:0 auto}

.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0}
.rslides li:first-child{position:relative;display:block;float:left}
.rslides img{display:block;height:auto;float:left;width:100%;border:0}
.rslides_container{position:relative;float:left;width:100%}
.rslides1_nav{position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:50%;left:0;z-index:99;opacity:.7;text-indent:-9999px;overflow:hidden;text-decoration:none;height:61px;width:38px;background:transparent url(../images/themes.gif) no-repeat left top;margin-top:-45px}
.rslides1_nav:active{opacity:1}
.rslides1_nav.next{left:auto;background-position:right top;right:0}
.rslides2_nav{position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);top:0;left:0;display:block;background:#fff;opacity:0;filter:alpha(opacity=1);width:48%;text-indent:-9999px;overflow:hidden;height:91%}
.rslides2_nav.next{left:auto;right:0}
.rslides3_nav{position:absolute;-webkit-tap-highlight-color:rgba(0,0,0,0);opacity:.6;text-indent:-9999px;overflow:hidden;top:0;bottom:0;left:0;background:#000 url(../images/themes.gif) no-repeat left 50%;width:38px}
.rslides3_nav:active{opacity:1}
.rslides3_nav.next{left:auto;background-position:right 50%;right:0}
.rslides1_nav:focus,.rslides2_nav:focus,.rslides3_nav:focus{outline:none}
.caption{position:absolute;display:block;bottom:0;left:0;right:0;padding:15px;text-align:center;background:#000;background:rgba(0,0,0,.8);color:#fff}

/* end */
